@page "/"
@rendermode InteractiveServer
@using DTO
@inject OrganisationService OrganisationService;

<PageTitle>Home</PageTitle>

<h1>Hey ya, FVA!</h1>

Welcome to your new app.

@code {

}