@page "/"
@rendermode InteractiveServer
@using DTO
@inject OrganisationService OrganisationService;

<PageTitle>Home</PageTitle>

<h1>Hey ya, FVA!</h1>

<button class="btn btn-primary" @onclick="async () => await GetOrgs()">Get Orgs From Service</button>
<button class="btn btn-primary" @onclick="GetOrgsHardcoded">Get Orgs Hardcoded</button>

@if (orgs != null)
{
    @foreach (var org in orgs)
    {
        <p>@org.Name</p>
    }
}

Welcome to your new app.

@code {
    private OrganisationDTO[] orgs;
    
    private void GetOrgsHardcoded()
    {
        orgs = new OrganisationDTO[50];
            
        for(var i=0; i<50; i++)
        {
            var org = new OrganisationDTO();

            org.Name = "Org " + i;

            orgs[i] = org;
        }
    }

    private async Task GetOrgs()
    {
        orgs = await OrganisationService.GetOrganisationsAsync();
    }
}